.collapsible{
    /* position: relative; */
    /* background-color: blue; */
    background-color: rgb(6, 6, 69);
    width: 50%;
    color: white;
    cursor: pointer;
    padding: 18px;
    margin: 0 4vw;
    border: 1px solid white;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.collapsible:hover{
    background-color: rgb(49, 49, 120);
}

.collapsible:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    /* font-size: 20px; */
    float: right;
    margin-left: 5px;
}

.active:after{
    content: "\2212";
}

.project-specifics{
    margin:1vw 4vw;
    /* padding: 0 1vw; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: aqua; */
}