.collapsible{
    /* position: relative; */
    /* background-color: blue; */
    background-color: rgb(49, 49, 120);
    width: 50%;
    color: white;
    cursor: pointer;
    padding: 18px;
    margin: 0 4vw;
    border: none;
    text-align: left;
    outline: none;
}

.active, .collapsible:hover{
    background-color: rgb(49, 49, 120);
}

.collapsible:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: "\2212";
}

.project-specifics{
    margin-left: 4vw;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: aqua; */
}