.seventhSec {
    max-width: 85vw;
    margin: auto;
    /* height: auto; */
    min-height: 100vh;
    overflow: auto;
    /* overflow: hidden; */
}

.seventhSec h1 {
    font-size: 1.7rem;
}

.project-timeline{
    background: white;
    width: 75vw;
    height: 3px;
    margin: 2vw 0;
}

/* td:hover{
    background-color: white;
    color: rgb(0, 0, 45);
} */

.work-text a{
    color: white;
    text-decoration: none;
}

.work-text a:hover{
    color: rgb(0, 0, 45);
    background-color: white;
}

@media screen and (max-width: 1000px){
    /* .seventhSec{ */
        /* background-color: red; */
        /* height: 250vh; */
    /* } */

    /* .buttonDiv {
        justify-content: center;    
    } */


}