.thirdSec {
    max-width: 85vw;
    margin: auto;
    margin-bottom: 2vh;
    /* height: 54vh; */
    height: 60vh;
}

.thirdSec h1 {
    font-size: 1.7rem;
}

#cgpas {
    font-size: 18px;
    color: rgb(165, 97, 221);
}

/* @media screen and (max-width:1000px) {
    .thirdSec{
        height:90vh;
    }
}
    .education-timeline{
        background: white;
        width:3px;
        height: 100vw;
        margin: 20px 0;
        display:grid;
        grid-template-columns: auto;
    }
    .education-checkpoint {
        height: 2px;
        width: 10px;
        background-color: white;
        margin: 10px 0px;
        padding: 0 10px;
    }
    .education-text{
        position: relative;
        top: 7px;
        margin-left: 10px;
        width: 261px;
        font-size: 20px;
    }
    .course-specifics{
        position: relative;
        top: 7px;
        margin-left: 10px;
        width: 261px;
        font-size: 10px;
    }
} */

/* @media screen and (max-width:1000px){
    .education-timeline {
        background: white;
        width: 100vw;
        height: 3px;
        margin: 56px 0;
        display: flex;
        justify-content: space-evenly;
    }

    .education-checkpoint {
        height: 90px;
        width: 2px;
        background-color: white;
        margin: 0 118px;
    }
    .thirdSec{
        height: 40vh;
    }
} */